@model IEnumerable<BookAPP.Models.libro>

@{
    ViewBag.Title = "Listado de Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Libros</h2>

<p>
    @Html.ActionLink("Agregar Libro", "Create","Libro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.empresa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.reservas)
    </td>
    <td>

        <input type="button" value="Reservar" onclick="location.href='@Url.Action("Create", "Apartado",new { id = item.codigo })'" />
        <input type="button" value="Ingresar Pedido" onclick="location.href='@Url.Action("Ingreso", "Libro",item)'" />
        @*<input type="button" value="Ingresar Pedido" onclick="location.href='@Url.Action("Ingreso", "Libro",new { id = item.codigo })'" />*@
        @*@Html.ActionLink("Apartar", "Reserva", new { id = item.codigo })*@
        @*@Html.ActionLink("Details", "Details", new { id=item.codigo }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.codigo })*@
    </td>
</tr>
}

</table>
<div>
    @Html.ActionLink("Regresar", "Index", "Home")
</div>