@{
    ViewBag.Title = "BookAPP";
}

<div class="jumbotron">
    <h1>BookAPP</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p><input type="submit" value="Agregar nuevo cliente" onclick="location.href='@Url.Action("Create", "Cliente")'" /></p>
        <p><input type="submit" value="Retirar libros" onclick="location.href='@Url.Action("Buscar", "Apartado")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Libros</h2>

        <p><input type="submit" value="Agregar nuevo libro" onclick="location.href='@Url.Action("Create", "Libro")'" /></p>
        <p><input type="submit" value="Registrar ingreso" onclick="location.href='@Url.Action("Index", "Libroes")'" /></p>
        <p><input type="submit" value="Listar Libros" onclick="location.href='@Url.Action("Index", "Libroes")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Reportes</h2>

        <p><input type="submit" value="Listado Clientes" onclick="location.href='@Url.Action("ListaClientes", "Cliente")'" /></p>
        <p><input type="submit" value="Reporte Salidas" onclick="location.href='@Url.Action("ReporteEntregas", "Apartado")'" /></p>
        
    </div></div>
